.benefits-items-svg {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F5F4FA;
  width: 450px;
  height: 120px; 
  border-radius: 4px; 
  margin-bottom: 30px;
}

.text {
align-items: center;
font-family: var(--main-font-family);
@include font (400, 14px, 1.71);
font-style: normal;
letter-spacing: 0.03em;
color: #757575;
margin-bottom: 30px;
}

@media screen and (min-width: 768px) {

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.benefits-items-svg {
  width: 354px;
  height: 120px;
}

.benefits-items {
  width: calc((100% - 30px) / 2);
}  
}

@media screen and (min-width: 1200px) {
  .benefits-list {
    display: flex;
  }

  .benefits-items {
    width: 270px;
  }

  .benefits-items:not(:last-child) {
    margin-right: 30px;}

  .text {
    font-family: 'Roboto';
    font-style: normal;
    @include font (400, 14px, 1.71);
    letter-spacing: 0.03em;
    color: #757575;
  }

  .benefits-items-svg {
    width: 270px;
    height: 120px;
  }
  .benefits-list {display: flex;}
}