.logo {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 15px;

  font-family: 'Raleway', sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height:1.19;

  @media  screen and (min-width:480px) {
    width: 480px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 15px;
    
  }
}

.logo__main {color:var(--color-accent)}

.footer-logo {
  display: block;
  margin-bottom: 20px;
  
  @include font(700, 26px, 1.19);
  font-family: 'Raleway';
  font-style: normal;
  letter-spacing: 0.03em;
  color: var(--secondary-color-accent);
  }