h1,h2,h3,p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,ol {
margin-top: 0;
margin-bottom: 0;
padding-left: 0;
}

img {
display: block;
max-width: 100%;
height: auto;
}

address {font-style: normal;}

body {
font-family: var(--main-font-family);
font-size: 14px;
line-height: 1.14;
background: var(--secondary-color-accent);
letter-spacing: 0.03em;
}

footer {
background: #2F303A;
}

.list {list-style: none;}

.link {text-decoration: none;}

