:root {
  --main-font-family: "Roboto", sans-serif;
  --basic-color-font: #212121;
  --secondary-color-font: #757575;
  --color-accent: #2196F3;
  --secondary-color-accent:#FFFFFF;
  --main-beckground-color:#E5E5E5;}